@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
}

.project-tab {
  padding: 1rem 1.5rem;
  border-bottom: 2px solid transparent;
  color: #a1a1aa;
  transition: all 0.2s ease;
}

.project-tab:hover {
  color: white;
}

.active-tab {
  color: white;
  border-color: #f97316;
}